# Root
config.php
misc.txt
robots.txt
sitemap-*.xml
sitemap.xml
todo.txt

# Content
content/admin-themes/
content/modules/
!content/themes/
content/themes/*
!content/themes/carbon/
content/uploads/

# Logs
**/error_log