/**
 * Styles for CMS setup and install pages.
 * @since 1.3.0[a]
 */

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background-color: #2f2f2f;
	min-height: 100%;
}

body {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	margin: 5em auto;
	max-width: 700px;
}

h1 {
	color: #fefefe;
	text-align: center;
}

p {
	font-size: 0.9rem;
	line-height: 1.6;
	margin-top: 0;
}

ol {
	font-weight: 600;
}

li {
	line-height: 1.5;
}

small {
	font-size: 0.8rem;
}

code {
	font-size: 1rem;
}

.wrapper {
	background-color: #ededed;
	border-radius: 5px;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	padding: 15px;
}

/* Data form */

.data-form * {
	font-family: 'Segoe UI', Helvetica, sans-serif;
}

.data-form input:not(.button) {
	font-size: 0.95rem;
	padding: 2px;
}

.data-form .checkbox-label {
	cursor: pointer;
	font-size: 0.875em;
	-webkit-user-select: none;
	user-select: none;
}

.data-form .checkbox-label input {
	cursor: pointer;
}

.data-form .checkbox-label span {
	vertical-align: top;
}

/** Form table **/

.form-table {
	margin-bottom: 1rem;
	width: 100%;
}

.form-table tr {
	height: 40px;
}

.form-table th {
	font-size: 0.9rem;
	text-align: left;
}

.no-resize {
	margin-bottom: 0.8rem;
	resize: none;
	width: 100%;
}

.status-message {
	color: #000;
    line-height: normal;
    padding: 8px;
}

.status-message.failure {
	background-color: #f9d7d5;
    border-left: 5px solid #f00;
}