/**
 * Styles for the admin dashboard
 * @since 1.3.1[a]
 */

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background-color: #2f2f2f;
	height: calc(100% - 30px);
	padding-top: 30px;
}

body {
	color: #fefefe;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	height: calc(100% - 30px);
	margin: 0;
	min-height: 100%;
}

a {
	color: #b6e0fa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #4f4f4f;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#site-title {
	float: left;
	padding: 3px 10px 6px;
	text-decoration: none;
}

#site-title:hover {
	background-color: #2f2f2f;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 150px;
}

#admin-nav {
	background-color: #4f4f4f;
	border-top: 1px dashed #7f7f7f;
	position: fixed;
	z-index: 999;
	width: 150px;
}

#admin-nav .nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-nav .nav > li {
	border-bottom: 1px dashed #7f7f7f;
	position: relative;
}

#admin-nav .nav > li:hover,
#admin-nav .subnav > li:hover {
	background-color: #2f2f2f;
}

#admin-nav .nav > li:hover .subnav {
	display: block;
}

#admin-nav .nav > li.current {
	background-color: #2f2f2f;
	font-weight: 500;
}

#admin-nav .nav > li.current > a {
	color: #b6e0fa;
}

#admin-nav .nav > li > a {
	color: #ededed;
	display: block;
	font-size: 1.05em;
	padding: 8px 0 8px 20px;
	text-decoration: none;
}

#admin-nav .subnav {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 150px;
	white-space: nowrap;
}

#admin-nav .subnav > li:not(:last-child) {
	border-bottom: 1px dashed #7f7f7f;
}

#admin-nav .subnav > li > a {
	color: #ededed;
	display: block;
	font-size: 0.95em;
	padding: 9px 12px;
	text-decoration: none;
}

/* Footer */

#admin-footer {
	margin-left: 150px;
	padding: 0 30px 0.75em;
}

#admin-footer .copyright {
	float: left;
	font-size: 0.8em;
}

#admin-footer .version {
	float: right;
	font-size: 0.8em;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.clear::before {
	content: '';
	display: table;
}

.clear::after {
	clear: both;
	content: '';
	display: table;
}

.wrapper {
	margin-left: 150px;
	min-height: 100%;
	padding: 20px 30px;
}

/* Heading */

.heading-wrap {
	margin-bottom: 10px;
}

.heading-wrap h1 {
	display: inline-block;
	font-size: 1.5em;
	margin: 0 10px 0 -10px;
}

.heading-wrap .button {
	vertical-align: top;
}

.heading-wrap hr {
	margin: 0;
	visibility: hidden;
}

.heading-wrap .post-status-nav {
	float: left;
	font-size: 0.9em;
	list-style: none;
	margin: 6px 0;
	padding: 0;
}

.heading-wrap .post-status-nav li {
	display: inline-block;
}

.heading-wrap .post-status-nav li a .count {
	color: #fff;
}

.heading-wrap .entry-count {
	float: right;
	font-size: 0.9em;
	margin: 6px 0;
	/* margin-top: 12px; */
}

.status-message {
	color: #000;
	font-weight: 200;
	margin: 10px 0 20px;
	padding: 8px;
}

.status-message.success {
	background-color: #e0f9af;
    border-left: 5px solid #2c0;
}

.status-message.failure {
	background-color: #f9d0c0;
    border-left: 5px solid #f00;
}

.status-message a {
	color: #46708a;
}

/* Data tables */

.data-table {
	background-color: #ededed;
	border-collapse: collapse;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	width: 100%;
}

.data-table thead tr,
.data-table tbody tr:not(:last-child) {
	border-bottom: 1px solid #cdcdcd;
}

.data-table tbody tr:nth-child(odd) {
	background-color: #ddd;
}

.data-table tbody tr:hover {
	background-color: #fdfdfd;
}

.data-table th,
.data-table td {
	padding: 0.5rem;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right: 1px solid #cdcdcd;
}

.data-table td {
	font-size: 0.95em;
}

.data-table a {
	color: #46708a;
}

.data-table .actions {
	font-size: 0.85em;
}

/* Data forms */

.data-form {
	background-color: #1f1f1f;
	border: 1px solid #7d7d7d;
	border-radius: 1.5em 0;
	box-shadow: 0 2px 4px #000;
	padding: 1em;
}

.data-form * {
	outline: none;
}

.data-form label {
	font-size: 0.875em;
	margin-right: 0.375em;
}

.data-form label .required {
	color: #f00;
}

.data-form .form-table label {
	margin-right: 0;
}

.data-form .text-input {
	border: 2px solid #cdcdcd;
	padding: 0.25em;
}

.data-form .select-input {
	border: 1px solid #adadad;
	padding: 0.125em;
}

.data-form .select-input:hover {
	border-color: #7d7d7d;
}

.data-form .textarea-input {
	resize: none;
}

.data-form .block {
	background-color: #ededed;
	color: #101010;
}

.data-form .block h2 {
	border-bottom: 1px solid #cdcdcd;
	font-size: 1em;
	margin: 0;
	padding: 0.375em 0.625em;
}

.data-form .block .row {
	padding: 0.375em 0.625em 0.5em;
}

.data-form .content {
	float: left;
	margin-bottom: 1.25rem;
	width: calc(100% - 300px);
}

.data-form .content #title-field {
	font-size: 1.125em;
	padding: 0.25em;
	width: 100%;
}

.data-form .content .permalink {
	padding: 0.875em 0;
}

.data-form .content .permalink label {
	margin-right: 0;
}

.data-form .content .permalink #slug-field {
	margin: 0 0.125em;
}

.data-form .content .button-input {
	margin-bottom: 0.75em;
}

.data-form .content .textarea-input {
	border: 2px solid #cdcdcd;
	padding: 0.5em;
	width: 100%;
}

.data-form .sidebar {
	float: right;
	width: 280px;
}

.data-form .sidebar .block {
	margin-bottom: 1.25rem;
}

.data-form .sidebar .block a {
	color: #46708a;
	font-size: 0.875em;
}

.data-form .sidebar #date {
	font-size: 0.875em;
	font-weight: 600;
}

.data-form .sidebar #submit {
	background-color: #ddd;
	border-top: 1px solid #cdcdcd;
	padding: 0.5em 0.625em;
	text-align: right;
}

.data-form .sidebar #submit a {
	float: left;
	line-height: 2rem;
}

.data-form .metadata {
	float: left;
	width: calc(100% - 300px);
}

.data-form .metadata label {
	display: inline-block;
	font-style: italic;
	margin-right: 0;
	margin-bottom: 0.25em;
}

.data-form .metadata .text-input {
	border: 1px solid #adadad;
	max-width: 20em;
	width: 100%;
}

.data-form .metadata .textarea-input {
	border: 1px solid #adadad;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	max-width: 40em;
	padding: 0.25em;
	width: 100%;
}

.data-form .metadata .text-input:hover,
.data-form .metadata .textarea-input:hover {
	border-color: #7d7d7d;
}

/** Required fields **/

.required.invalid {
	border: 2px solid #f00;
}

.required.valid {
	border: 2px solid #0d0;
}

.required.init:not(label) {
	border: 2px solid #cdcdcd;
}

label.required.init {
	border: none;
}