/**
 * Styles for the admin dashboard
 * @since 1.3.1[a]
 */

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background-color: #2f2f2f;
	height: calc(100% - 30px);
	padding-top: 30px;
}

body {
	color: #fefefe;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	height: calc(100% - 30px);
	margin: 0;
	min-height: 100%;
}

a {
	color: #b6e0fa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #4f4f4f;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#site-title {
	float: left;
	padding: 3px 10px 6px;
	text-decoration: none;
}

#site-title:hover {
	background-color: #2f2f2f;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 150px;
}

#admin-nav {
	background-color: #4f4f4f;
	border-top: 1px dashed #7f7f7f;
	position: fixed;
	z-index: 999;
	width: 150px;
}

#admin-nav .nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-nav .nav > li {
	border-bottom: 1px dashed #7f7f7f;
	position: relative;
}

#admin-nav .nav > li:hover,
#admin-nav .subnav > li:hover {
	background-color: #2f2f2f;
}

#admin-nav .nav > li:hover .subnav {
	display: block;
}

#admin-nav .nav > li.current {
	background-color: #2f2f2f;
	font-weight: 500;
}

#admin-nav .nav > li.current > a {
	color: #b6e0fa;
}

#admin-nav .nav > li > a {
	color: #ededed;
	display: block;
	font-size: 1.05em;
	padding: 8px 0 8px 20px;
	text-decoration: none;
}

#admin-nav .subnav {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 150px;
	white-space: nowrap;
}

#admin-nav .subnav > li:not(:last-child) {
	border-bottom: 1px dashed #7f7f7f;
}

#admin-nav .subnav > li > a {
	color: #ededed;
	display: block;
	font-size: 0.95em;
	padding: 9px 12px;
	text-decoration: none;
}

/* Content Area */

.wrapper {
	margin-left: 150px;
	min-height: 100%;
	padding: 20px 30px;
}

.heading-wrap {
	margin-bottom: 10px;
}

.heading-wrap h1 {
	display: inline-block;
	font-size: 1.5em;
	margin: 0 10px 0 -10px;
}

.heading-wrap .button {
	vertical-align: top;
}

.heading-wrap hr {
	margin: 0;
	visibility: hidden;
}

.heading-wrap .post-status-nav {
	float: left;
	font-size: 0.9em;
	list-style: none;
	margin: 6px 0;
	padding: 0;
}

.heading-wrap .post-status-nav li {
	display: inline-block;
}

.heading-wrap .post-status-nav li a .count {
	color: #fff;
}

.heading-wrap .entry-count {
	float: right;
	font-size: 0.9em;
	margin: 6px 0;
	/* margin-top: 12px; */
}

.status-message {
	color: #000;
	font-weight: 200;
	margin: 10px 0 20px;
	padding: 8px;
}

.status-message.success {
	background-color: #e0f9af;
    border-left: 5px solid #2c0;
}

.status-message.failure {
	background-color: #f9d0c0;
    border-left: 5px solid #f00;
}

.data-table {
	background-color: #ededed;
	border-collapse: collapse;
	color: #101010;
	width: 100%;
}

.data-table thead {
	border-bottom: 1px solid #cfcfcf;
}

/* Footer */

#admin-footer {
	margin-left: 150px;
	padding: 0 30px;
}

#admin-footer .copyright {
	float: left;
	font-size: 0.8em;
}

#admin-footer .version {
	float: right;
	font-size: 0.8em;
}