/**
 * Styles for the admin dashboard.
 * @since 1.3.1[a]
 */

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background-color: #2f2f2f;
	height: calc(100% - 30px);
	padding-top: 30px;
}

body {
	color: #fefefe;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	height: calc(100% - 30px);
	margin: 0;
	min-height: 100%;
}

a {
	color: #b6e0fa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.3125em;
}

h2 {
	font-size: 1.3125em;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #4f4f4f;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	height: 30px;
	position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 999;
	width: 100%;
}

#site-title {
	float: left;
	padding: 3px 10px 6px;
	text-decoration: none;
}

#site-title:hover {
	background-color: #2f2f2f;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	position: fixed;
	  top: 0;
	  bottom: 0;
	transition: width 0.25s;
	width: 2.25em;
}

#admin-nav-menu {
	background-color: #4f4f4f;
	border-top: 1px dashed #7f7f7f;
	position: fixed;
	  z-index: 999;
	transition: width 0.25s;
	width: 2.25em;
}

#admin-nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-nav-menu .menu > li {
	border-bottom: 1px dashed #7f7f7f;
	position: relative;
}

#admin-nav-menu .menu > li:hover,
#admin-nav-menu .submenu > li:hover {
	background-color: #2f2f2f;
}

#admin-nav-menu .menu > li:hover .submenu {
	display: block;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: #2f2f2f;
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: #b6e0fa;
	font-weight: 600;
}

#admin-nav-menu .menu > li > a {
	color: #ededed;
	display: block;
	text-decoration: none;
}

#admin-nav-menu .menu > li > a > i {
	display: inline-flex;
	  align-items: center;
	  justify-content: center;
	height: 2.25rem;
	width: 2.25rem;
}

#admin-nav-menu .menu > li > a > span {
	display: none;
}

#admin-nav-menu .submenu {
	background-color: #4f4f4f;
	box-shadow: 2px 0 3px rgba(0,0,0,0.5);
	display: none;
	min-width: 120px;
	position: absolute;
	  top: 0;
	  left: 2.25rem;
	white-space: nowrap;
}

#admin-nav-menu .submenu > li:not(:last-child) {
	border-bottom: 1px dashed #7f7f7f;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: #2f2f2f;
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: #b6e0fa;
	font-weight: 600;
}

#admin-nav-menu .submenu > li > a {
	color: #ededed;
	display: block;
	font-size: 0.90625em;
	padding: 0.5625rem 0.75rem;
	text-decoration: none;
}

/* Footer */

#admin-footer {
	margin-left: 2.25em;
	padding: 0 1.375em 0.75em;
	text-align: center;
}

#admin-footer .copyright {
	border-top: 1px dashed #4f4f4f;
	font-size: 0.75em;
	padding: 0.25rem 0;
}

#admin-footer .version {
	border-top: 1px dashed #4f4f4f;
	border-bottom: 1px dashed #4f4f4f;
	font-size: 0.75em;
	padding: 0.25rem 0;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.clear::before {
	content: '';
	display: table;
}

.clear::after {
	clear: both;
	content: '';
	display: table;
}

.notice-nojs {
	background-color: #0f0f0f;
	color: #f00;
	display: inline-block;
	margin-left: 150px;
	padding: 1em;
	text-align: center;
	width: calc(100% - 150px);
}

.notice-nojs a {
	color: #f00;
	text-decoration: underline;
}

.wrapper {
	margin-left: 2.25em;
	min-height: 100%;
	padding: 1em 1.375em;
}

/* Headings */

.heading-wrap {
	margin-bottom: 0.625em;
}

.heading-wrap h1 {
	display: inline-block;
	margin: 0 0.625rem 0 0;
}

.heading-wrap hr {
	margin: 0;
	visibility: hidden;
}

.heading-wrap .button {
	vertical-align: top;
}

.heading-wrap .post-status-nav {
	float: left;
	font-size: 0.9em;
	list-style: none;
	margin: 0.375rem 0;
	padding: 0;
}

.heading-wrap .post-status-nav li {
	display: inline-block;
}

.heading-wrap .post-status-nav li a .count {
	color: #fff;
}

.heading-wrap .entry-count {
	float: right;
	font-size: 0.9em;
	margin: 1rem 0 0.375rem;
}

.heading-wrap .entry-count.post {
	margin: 0.375rem 0;
}

.heading-wrap .status-message ~ .post-status-nav,
.heading-wrap .status-message ~ .entry-count {
	margin-top: -0.75em;
}

.status-message {
	color: #000;
	font-weight: 200;
	margin: 1em 0;
	padding: 0.5em;
}

.status-message.success {
	background-color: #e0f9af;
    border-left: 5px solid #2c0;
}

.status-message.failure {
	background-color: #f9d0c0;
    border-left: 5px solid #f00;
}

.status-message a {
	color: #46708a;
}

/* Subheadings */

.subheading {
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

/* Statistics graph */

#stats-graph {
	background-color: #ededed;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	font-size: 0;
	height: 376px;
	margin-top: 1rem;
	position: relative;
	width: 100%;
}

#stats-graph ul {
	padding: 0;
}

.graph-content {
	background-color: #cdcdcd;
	box-shadow: 1px -1px 4px rgba(0,0,0,0.5) inset;
	display: inline-block;
	height: 250px;
	position: relative;
	vertical-align: bottom;
	width: calc(100% - 76px);
}

.graph-content > li {
	display: inline-block;
	height: 100%;
	position: relative;
}

.graph-content > li .bar {
	background-color: #84c2fa;
	box-shadow: 2px -1px 2px rgba(0,0,0,0.5), 0 -2px 4px rgba(0,0,0,0.25) inset;
	height: 0;
	margin: 0 22.5%;
	position: absolute;
	  bottom: 0;
	  z-index: 99;
	transition: all 0.4s;
	width: 55%;
}

.graph-content > li .bar:hover {
	background-color: #94d2ff;
}

.graph-overlay {
	background-color: #cdcdcd;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.5) inset;
	height: 100%;
	position: absolute;
	  top: -50px;
	width: 100%;
}

.graph-overlay li {
	border-bottom: 1px dashed #adadad;
	height: 50px;
}

.graph-overlay li:last-child {
	border-bottom: none;
}

.graph-x {
	border-top: 1px solid #cdcdcd;
	padding-top: 0.125rem;
	margin-left: 76px;
}

.graph-x li {
	display: inline-block;
	text-align: center;
}

.graph-x .value {
	color: #46708a;
	font-size: 0.9rem;
}

.graph-x-label {
	font-size: 1.125rem;
	font-weight: 600;
	position: absolute;
	  right: calc(50% - 76px);
	  bottom: 0.625em;
}

.graph-y {
	border-right: 1px solid #cdcdcd;
	display: inline-block;
	height: 300px;
	vertical-align: top;
	width: 76px;
}

.graph-y li {
	height: 50px;
	position: relative;
}

.graph-y .value {
	font-size: 0.9rem;
	line-height: 1;
	position: absolute;
	  right: 0.375em;
	  bottom: -0.5em;
}

.graph-y-label {
	font-size: 1.125rem;
	font-weight: 600;
	position: absolute;
	  top: calc(50% - 76px);
	  left: -0.25em;
	-webkit-transform: rotate(-90deg) translateX(-50%);
	transform: rotate(-90deg) translateX(-50%);
}

/* Data tables */

.data-table {
	background-color: #ededed;
	border-collapse: collapse;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	width: 100%;
}

.data-table thead tr,
.data-table tbody tr:not(:last-child) {
	border-bottom: 1px solid #cdcdcd;
}

.data-table tbody tr:nth-child(odd) {
	background-color: #ddd;
}

.data-table tbody tr:hover {
	background-color: #fdfdfd;
}

.data-table th,
.data-table td {
	padding: 0.5rem;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right: 1px solid #cdcdcd;
}

.data-table td {
	font-size: 0.95em;
}

.data-table a {
	color: #46708a;
}

.data-table .actions {
	font-size: 0.85em;
}

.data-table .username strong {
	line-height: 1;
	vertical-align: top;
}

.data-table .username .avatar {
	float: left;
	margin-right: 0.5em;
}

.data-table .username .actions {
	line-height: 1;
}

/** Pager **/

.pager {
	float: right;
	margin-top: 0.75em;
}

.pager-nav {
	font-size: 1.2em;
	font-weight: 600;
	margin: 0 0.125em;
	padding: 0.125em 0.5em 0.25em;
}

/* Data forms */

.data-form-wrap {
	background-color: #1f1f1f;
	border: 1px solid #7d7d7d;
	border-radius: 1.5em 0;
	box-shadow: 0 2px 4px #000;
	padding: 1em;
	position: relative;
}

.data-form-wrap .item-list-wrap {
	float: left;
	width: calc(100% - 300px);
}

.data-form-wrap .item-list {
	background-color: #ededed;
	color: #101010;
	list-style: none;
	margin: 0;
	padding: 0.125em 0.75em;
}

.data-form-wrap .item-list li {
	background-color: #fdfdfd;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	margin: 0.75em 0;
	padding: 0.5em;
}

.data-form-wrap .item-list .actions {
	float: right;
	font-size: 0.85em;
}

.data-form-wrap .item-list .actions a {
	color: #46708a;
}

.data-form-wrap .item-list .separator {
	border: 1px dashed #ddd;
}

.data-form-wrap .reset-password {
	position: absolute;
	right: 1.1875rem;
	bottom: 1.1875rem;
}

.data-form {
	
}

.data-form * {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	outline: none;
}

.data-form label {
	font-size: 0.875em;
	margin-right: 0.375em;
}

.data-form label .required {
	color: #f00;
}

.data-form .text-input {
	border: 2px solid #cdcdcd;
	padding: 0.25em;
}

.data-form .text-input[disabled] {
	background-color: #ededed;
}

.data-form .text-input[disabled]:hover {
	cursor: not-allowed;
}

.data-form .select-input {
	background-color: #fdfdfd;
	border: 1px solid #adadad;
	padding: 0.125em;
}

.data-form .select-input:hover {
	border-color: #7d7d7d;
}

.data-form .textarea-input {
	background-color: #fdfdfd;
	border: 2px solid #cdcdcd;
	padding: 0.5em;
	resize: none;
	width: 100%;
}

.data-form .checkbox-input {
	cursor: pointer;
}

.data-form .checkbox-label {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.data-form .checkbox-label span {
	vertical-align: top;
}

.data-form .checkbox-list {
	background-color: #fdfdfd;
	border: 1px solid #adadad;
	list-style: none;
	margin: 0;
	max-height: 200px;
	overflow-y: auto;
	padding: 0.125em;
}

.data-form .checkbox-list label span {
	color: #101010;
	display: inline-block;
	-webkit-transform: translateY(-0.125em);
	transform: translateY(-0.125em);
}

.data-form .block {
	background-color: #ededed;
	color: #101010;
}

.data-form .block h2 {
	border-bottom: 1px solid #cdcdcd;
	font-size: 1em;
	margin: 0;
	padding: 0.375em 0.625em;
}

.data-form .block .row {
	padding: 0.375em 0.625em 0.5em;
}

.data-form .content {
	float: left;
	width: calc(100% - 300px);
}

.data-form .content #title-field,
.data-form .content #name-field {
	font-size: 1.125em;
	padding: 0.25em;
	width: 100%;
}

.data-form .content .permalink {
	padding: 0.875em 0;
}

.data-form .content .permalink label {
	margin-right: 0;
}

.data-form .content .permalink #slug-field {
	margin: 0 0.125em;
}

.data-form .content > #slug-field {
	margin: 0.875em 0;
}

.data-form .content .button-input {
	margin-bottom: 0.75em;
}

.data-form .sidebar {
	float: right;
	width: 280px;
}

.data-form .sidebar .block {
	margin-bottom: 1.25rem;
}

.data-form .sidebar .block a {
	color: #46708a;
	font-size: 0.875em;
}

.data-form .sidebar .block fieldset {
	border-color: #fdfdfd;
	margin: 0;
}

.data-form .sidebar .block fieldset legend {
	font-size: 0.875em;
	font-weight: 500;
}

.data-form .sidebar #date {
	font-size: 0.875em;
	font-weight: 600;
}

.data-form .sidebar #submit {
	background-color: #ddd;
	border-top: 1px solid #cdcdcd;
	padding: 0.5em 0.625em;
	text-align: right;
}

.data-form .sidebar #submit a {
	float: left;
	line-height: 2rem;
}

.data-form .sidebar #categories-list {
	list-style: none;
	margin: 0;
	max-height: 200px;
	overflow-y: auto;
	padding: 0.125em;
}

.data-form .sidebar #categories-list label,
.data-form .checkbox-list label {
	cursor: pointer;
	margin-right: 0;
	-webkit-user-select: none;
	user-select: none;
}

.data-form .sidebar #categories-list label span {
	display: inline-block;
	-webkit-transform: translateY(-0.125em);
	transform: translateY(-0.125em);
}

.data-form .sidebar #categories-list .checkbox-input,
.data-form .checkbox-list .checkbox-input {
	height: 1.125em;
	margin-right: 0.5em;
	width: 1.125em;
}

.data-form .metadata {
	float: left;
	margin-top: 1.25rem;
	width: calc(100% - 300px);
}

.data-form .metadata label {
	display: inline-block;
	font-style: italic;
	margin-right: 0;
	margin-bottom: 0.25em;
}

.data-form .metadata .text-input {
	border: 1px solid #adadad;
	max-width: 20em;
	width: 100%;
}

.data-form .metadata .textarea-input {
	border: 1px solid #adadad;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	max-width: 40em;
	padding: 0.25em;
	width: 100%;
}

.data-form .metadata .text-input:hover,
.data-form .metadata .textarea-input:hover {
	border-color: #7d7d7d;
}

/** Form tables **/

.form-table {
	width: 100%;
}

.form-table th {
	text-align: left;
	width: 175px;
}

.form-table td:not([colspan="2"]) {
	padding: 0.5em 0;
}

.form-table label {
	margin-right: 0;
}

.form-table .separator {
	border: 1px dashed #5f5f5f;
}

/** Required fields **/

.required.invalid {
	border: 2px solid #f00;
}

.required.valid {
	border: 2px solid #0d0;
}

.required.init:not(label) {
	border: 2px solid #cdcdcd;
}

label.required.init {
	border: none;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (max-width: 649px) {
	.data-table th:not(:first-child),
	.data-table td:not(:first-child) {
		display: none;
	}
}

@media screen and (min-width: 650px) {
	#admin-footer {
		text-align: left;
	}
	
	#admin-footer .copyright {
		border-top: none;
		float: left;
		font-size: 0.8125em;
		padding: 0;
	}

	#admin-footer .version {
		border-top: none;
		border-bottom: none;
		float: right;
		font-size: 0.8125em;
		padding: 0;
	}
}

@media screen and (min-width: 1050px) {
	h1 {
		font-size: 1.5em;
	}
	
	#admin-nav-wrap,
	#admin-nav-menu {
		width: 160px;
	}
	
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: #5f5f5f;
		border-top: 1px dashed #7f7f7f;
		box-shadow: none;
		display: block;
		position: static;
	}

	#admin-nav-menu .menu > li.current-menu-item .submenu > li > a,
	#admin-nav-menu .menu > li.child-is-current .submenu > li > a {
		padding: 0.5rem 0 0.5rem 1.5rem;
	}
	
	#admin-nav-menu .menu > li > a > span {
		display: initial;
		margin-left: -0.25rem;
	}
	
	#admin-nav-menu .submenu {
		left: 160px;
	}
	
	#admin-footer {
		margin-left: 160px;
		padding: 0 1.875em 0.75em;
	}
	
	.wrapper {
		margin-left: 160px;
		padding: 1.25em 1.875em;
	}
	
	.heading-wrap h1 {
		margin: 0 0.625rem 0 -0.625rem;
	}
}