/**
 * Admin dashboard Forest theme.
 * @since 2.0.7[a]
 */

html {
	background-color: #092f0f;
}

a {
	color: #26fa80;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #0f6f2f;
}

/** Site title **/

#site-title:hover {
	background-color: #092f0f;
	color: #26fa80;
}

/** User dropdown menu **/

.user-dropdown:hover {
	background-color: #092f0f;
	color: #26fa80;
}

.user-dropdown-menu {
	background-color: #092f0f;
}

.user-dropdown-menu li a:hover {
	color: #26fa80;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #0f6f2f;
}

#admin-nav-menu {
	background-color: #0f6f2f;
	border-top-color: #2fdf6f;
}

#admin-nav-menu .menu > li {
	border-bottom-color: #2fdf6f;
}

#admin-nav-menu .menu > li:hover,
#admin-nav-menu .submenu > li:hover {
	background-color: #092f0f;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: #092f0f;
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: #26fa80;
}

#admin-nav-menu .submenu {
	background-color: #0f6f2f;
}

#admin-nav-menu .submenu > li:not(:last-child) {
	border-bottom-color: #2fdf6f;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: #092f0f;
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: #26fa80;
}

/* Footer */

#admin-footer .copyright {
	border-top-color: #0f6f2f;
}

#admin-footer .version {
	border-top-color: #0f6f2f;
	border-bottom-color: #0f6f2f;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.notice-nojs {
	background-color: #00000f;
}

/* Data forms */

.data-form-wrap {
	background-color: #091f0c;
	border-color: #2fdf6f;
}

/** Form tables **/

.form-table .separator {
	border-color: #0f7f3f;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1050px) {
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: #0f7f3f;
		border-top-color: #2fdf6f;
	}
}