/**
 * Admin dashboard Harvest theme.
 * @since 2.1.9[a]
 * @version 1.1
 */

html {
	background-color: #2f0f06;
}

body {
	color: #fff;
}

a {
	color: #fa8026;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #8f4f0f;
}

/** Site title **/

#site-title {
	color: #fff;
}

#site-title:hover {
	background-color: #2f0f06;
	color: #fa8026;
}

/** User dropdown menu **/

.user-dropdown:hover {
	background-color: #2f0f06;
	color: #fa8026;
}

.user-dropdown-menu {
	background-color: #2f0f06;
}

.user-dropdown-menu li a {
	color: #fff;
}

.user-dropdown-menu li a:hover {
	color: #fa8026;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #8f4f0f;
}

#admin-nav-menu {
	background-color: #8f4f0f;
	border-top-color: #dfbf2f;
}

#admin-nav-menu .menu > li:hover {
	background-color: #2f0f06;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: #2f0f06;
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: #fa8026;
}

#admin-nav-menu .submenu {
	background-color: #8f4f0f;
}

#admin-nav-menu .submenu::before {
	border-right-color: #8f4f0f;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: #2f0f06;
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: #fa8026
}

#admin-nav-menu .submenu > li > a {
	color: #eee;
}

#admin-nav-menu .submenu > li:not(.current-submenu-item):hover > a {
	color: #f6ca30;
}

/* Footer */

#admin-footer .copyright {
	border-top-color: #8f4f0f;
}

#admin-footer .version {
	border-top-color: #8f4f0f;
	border-bottom-color: #8f4f0f;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.notice-nojs {
	background-color: #0f0400;
}

/* Data tables */

.data-table {
	background-color: #eddd8d;
}

.data-table thead tr,
.data-table tbody tr:not(:last-child) {
	border-bottom-color: #8dbd6d;
}

.data-table tbody tr:nth-child(odd) {
	background-color: #addd8d;
}

.data-table tbody tr:hover {
	background-color: #cdfdad;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right-color: #8dbd6d;
}

.data-table a {
	color: #369a20;
}

/* Data forms */

.data-form-wrap {
	background-color: #1f0903;
	border-color: #dfbf2f;
}

/** Form tables **/

.form-table .separator {
	border-color: #7f3f0f;
}

/** Required fields **/

.checkbox-label.init {
	color: #fff;
}

/* Data lists */

.data-list li {
	background-color: #eddd8d;
}

.data-list .theme-name {
	background-color: #eddd8d;
	border-top-color: #cdbd6d;
}

.data-list .theme-name .actions a {
	/* color: #369a20; */
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1050px) {
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: #7f3f0f;
	}
}