/**
 * Admin dashboard Harvest theme.
 * @since 2.1.9[a]
 * @version 1.3
 */

html {
	background-color: #2f0f06;
}

body {
	color: #fff;
}

a {
	color: #fa8026;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #8f4f0f;
}

/** Site title **/

#site-title {
	color: #fff;
}

#site-title:hover {
	background-color: #2f0f06;
	color: #fa8026;
}

/** User dropdown menu **/

.user-dropdown:hover {
	background-color: #2f0f06;
	color: #fa8026;
}

.user-dropdown-menu {
	background-color: #2f0f06;
}

.user-dropdown-menu li a {
	color: #fff;
}

.user-dropdown-menu li a:hover {
	color: #fa8026;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #8f4f0f;
}

#admin-nav-menu {
	background-color: #8f4f0f;
}

#admin-nav-menu .menu > li:hover {
	background-color: #2f0f06;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: #2f0f06;
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: #fa8026;
}

#admin-nav-menu .submenu {
	background-color: #8f4f0f;
}

#admin-nav-menu .submenu::before {
	border-right-color: #8f4f0f;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: #2f0f06;
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: #fa8026
}

#admin-nav-menu .submenu > li > a {
	color: #eee;
}

#admin-nav-menu .submenu > li:not(.current-submenu-item):hover > a {
	color: #f6ca30;
}

/* Footer */

#admin-footer .copyright {
	border-top-color: #8f4f0f;
}

#admin-footer .version {
	border-top-color: #8f4f0f;
	border-bottom-color: #8f4f0f;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.notice-nojs {
	background-color: #0f0400;
}

/* Statistics graph */

#stats-graph {
	background-color: #eddd8d;
}

.graph-content {
	background-color: #8d3d1d;
}

.graph-content > li .bar {
	background-color: #fa8026;
}

.graph-content > li .bar:hover {
	background-color: #ff963d;
}

.graph-overlay {
	background-color: #8d3d1d;
}

.graph-overlay li {
	border-bottom-color: #cd9d6d;
}

.graph-x {
	border-top-color: #cdbd6d;
}

.graph-x .value {
	color: #ba4016;
}

.graph-y {
	border-right-color: #cdbd6d;
}

/* Data tables */

.data-table {
	background-color: #eddd8d;
}

.data-table thead tr,
.data-table tbody tr:not(:last-child) {
	border-bottom-color: #bdad5d;
}

.data-table tbody tr:nth-child(odd) {
	background-color: #ddcd7d;
}

.data-table tbody tr:hover {
	background-color: #fffdad;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right-color: #bdad5d;
}

.data-table a {
	color: #ba4016;
}

/* Data forms */

.data-form-wrap {
	background-color: #1f0903;
	border-color: #dfbf2f;
}

.data-form-wrap .item-list {
	background-color: #eddd8d;
}

.data-form-wrap .menu-item {
	background-color: #fffdad;
}

.data-form-wrap .menu-item .actions a:not(.button) {
	color: #ba4016;
}

.data-form-wrap .menu-item .separator {
	border-color: #ddcd7d;
}

.data-form .block {
	background-color: #eddd8d;
}

.data-form .block h2 {
	border-bottom-color: #bdad5d;
}

.data-form .sidebar .block a {
	color: #ba4016;
}

.data-form .sidebar .block fieldset {
	border-color: #fffdad;
}

.data-form .sidebar #submit {
	background-color: #ddcd7d;
	border-top-color: #bdad5d;
}

/** Form tables **/

.form-table .separator {
	border-color: #7f3f0f;
}

/** Required fields **/

.checkbox-label.init {
	color: #fff;
}

/* Data lists */

.data-list li {
	background-color: #eddd8d;
}

.data-list .theme-name {
	background-color: #eddd8d;
	border-top-color: #cdbd6d;
}

.data-list .theme-name .actions a {
	color: #ba4016;
}

/* Modal */

.modal-wrap {
	background-color: #8f4f0f;
}

.modal-header {
	border-bottom-color: #dfbf2f;
}

.modal-header .tabber .tab {
	border-color: #dfbf2f;
}

.modal-header .tabber .tab:hover {
	background-color: #6f2f0f;
	border-color: #dfbf2f;
}

.modal-header .tabber .tab.active {
	background-color: #4f1f08;
	border-color: #dfbf2f;
}

.modal-header .tabber .tab a {
	color: #fff;
}

.modal-header #modal-close {
	color: #fff;
}

.modal-body {
	background-color: #6f2f0f;
}

.modal-body .media-details {
	background-color: #7f3f0f;
	border-color: #dfbf2f;
}

.modal-footer {
	border-top-color: #dfbf2f;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1050px) {
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: #7f3f0f;
	}
}