/**
 * Admin dashboard Ocean theme.
 * @since 2.0.7[a]
 */

html {
	background-color: #090f2f;
}

a {
	color: #fa96c0;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

#admin-header {
	background-color: #0f2f6f;
}

/** Site title **/

#site-title:hover {
	background-color: #090f2f;
	color: #fa96c0;
}

/** User dropdown menu **/

.user-dropdown:hover {
	background-color: #090f2f;
	color: #fa96c0;
}

.user-dropdown-menu {
	background-color: #090f2f;
}

.user-dropdown-menu li a:hover {
	color: #fa96c0;
}

/* Navigation */

#admin-nav-wrap {
	background-color: #0f2f6f;
}

#admin-nav-menu {
	background-color: #0f2f6f;
	border-top-color: #2fbfdf;
}

#admin-nav-menu .menu > li {
	border-bottom-color: #2fbfdf;
}

#admin-nav-menu .menu > li:hover,
#admin-nav-menu .submenu > li:hover {
	background-color: #090f2f;
}

#admin-nav-menu .menu > li.current-menu-item,
#admin-nav-menu .menu > li.child-is-current {
	background-color: #090f2f;
}

#admin-nav-menu .menu > li.current-menu-item > a,
#admin-nav-menu .menu > li.child-is-current > a {
	color: #76fab0;
}

#admin-nav-menu .submenu {
	background-color: #0f2f6f;
}

#admin-nav-menu .submenu > li:not(:last-child) {
	border-bottom-color: #2fbfdf;
}

#admin-nav-menu .submenu > li.current-submenu-item {
	background-color: #090f2f;
}

#admin-nav-menu .submenu > li.current-submenu-item > a {
	color: #76fab0;
}

/* Footer */

#admin-footer .copyright {
	border-top-color: #0f2f6f;
}

#admin-footer .version {
	border-top-color: #0f2f6f;
	border-bottom-color: #0f2f6f;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.notice-nojs {
	background-color: #00000f;
}

/* Statistics graph */

#stats-graph {
	background-color: #fdbd4d;
}

.graph-content {
	background-color: #1f4f8f;
}

.graph-content > li .bar {
	background-color: #fa96c0;
}

.graph-content > li .bar:hover {
	background-color: #ffa6d0;
}

.graph-overlay {
	background-color: #1f4f8f;
}

.graph-overlay li {
	border-bottom-color: #3fcfef;
}

.graph-x {
	border-top-color: #edad3d;
}

.graph-x .value {
	color: #9a06b0;
}

.graph-y {
	border-right-color: #edad3d;
}

/* Data tables */

.data-table {
	background-color: #9dedcd;
}

.data-table thead tr,
.data-table tbody tr:not(:last-child) {
	border-bottom-color: #2fbfdf;
}

.data-table tbody tr:nth-child(odd) {
	background-color: #8dddbd;
}

.data-table tbody tr:hover {
	background-color: #affddd;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
	border-right-color: #2fbfdf;
}

.data-table a {
	color: #9a06b0;
}

/* Data forms */

.data-form-wrap {
	background-color: #090c1f;
	border-color: #fdbd4d;
}

/** Form tables **/

.form-table .separator {
	border-color: #0f3f7f;
}

/* Modal */

.modal-wrap {
	background-color: #0f2f6f;
}

.modal-header {
	border-bottom-color: #fdbd4d;
}

.modal-header .tabber .tab {
	border-color: #bd7d0d;
}

.modal-header .tabber .tab:hover {
	background-color: #0c1f5f;
	border-color: #dd9d2d;
}

.modal-header .tabber .tab.active {
	background-color: #090f2f;
	border-color: #fdbd4d;
}

.modal-body {
	background-color: #0c1f5f;
}

.modal-body .media-details {
	background-color: #0f3f7f;
	border-left-color: #fdbd4d;
}

.modal-footer {
	border-top-color: #fdbd4d;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1050px) {
	#admin-nav-menu .menu > li.current-menu-item .submenu,
	#admin-nav-menu .menu > li.child-is-current .submenu {
		background-color: #0f3f7f;
		border-top-color: #2fbfdf;
	}
}