/**
 * Styles for buttons (site-wide).
 * @since 1.3.0[a]
 */

.button {
	background-color: #fefefe;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	box-shadow: 0 1px 0 #c4c4c4;
	color: #101010;
	cursor: pointer;
	display:inline-block;
	font-size: 0.9rem;
	line-height: 1;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
}

.button:hover {
	border-color: #989898;
	box-shadow: 0 1px 0 #989898;
	text-decoration: none;
}

.button:active {
	background-color: #dedede;
	border-color: #989898;
	box-shadow: 0 1px 3px #989898 inset;
}