/**
 * Front end master stylesheet.
 * @since 1.3.3[a]
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
}

small {
	font-size: 0.8rem;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/* Log In and Forgot/Reset Password forms */

.login {
	background-color: #2f2f2f;
	min-height: 100%;
}

.login .wrapper {
	margin: 5em auto;
	max-width: 400px;
}

.login a {
	color: #b6e0fa;
	text-decoration: none;
}

.login a:hover {
	text-decoration: underline;
}

.login h1 {
	text-align: center;
}

.login h1 a {
	color: #fefefe;
	text-decoration: none;
}

.login .status-message {
	background-color: #0f0f0f;
	font-weight: 600;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
}

.login .status-message.success {
	color: #2bda06;
}

.login .status-message.failure {
	color: #fe3022;
}

/** Data form **/

.login .data-form * {
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

.login .data-form {
	background-color: #ededed;
	border-radius: 5px;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	margin-bottom: 0.75em;
	padding: 1.25em;
}

.login .data-form p {
	margin-top: 0;
}

.login .data-form a {
	color: #46708a;
}

.login .data-form label {
	font-size: 0.9em;
}

.login .data-form input:not([type=checkbox]):not([type=submit]) {
	font-size: 1.2rem;
	margin-top: 4px;
	padding: 4px;
	width: 100%;
}

.login .data-form #captcha {
	margin-top: 10px;
}

.login .data-form .checkbox-label {
	cursor: pointer;
	font-size: 0.875em;
	-webkit-user-select: none;
	user-select: none;
}

.login .data-form .checkbox-label input {
	cursor: pointer;
}

.login .data-form .checkbox-label span {
	vertical-align: top;
}