/**
 * Stylesheet for the default Front end theme.
 * @since 1.3.3[a]
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #fefefe;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
}

a {
	
}

small {
	font-size: 0.8rem;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* Header */

.header {
	background-color: rgba(254,254,254,0.9375);
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.header.sticky {
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	position: fixed;
	  z-index: 998;
}

.header .top-bar {
	background-color: #fefefe;
	height: 3.75em;
	padding: 0.5em 1em;
	position: relative;
	  z-index: 9999;
}

/** Logo **/

.header .site-logo {
	display: flex;
	  align-items: center;
	float: left;
	height: 100%;
}

.header .site-logo a,
.header .site-logo a img {
	height: 100%;
}

/** Social media **/

.header .widget.social-media {
	opacity: 0;
	position: absolute;
	  top: 175%;
	  left: -100%;
	transition: opacity 0.5s, top 0.5s;
}

.header .widget.social-media.visible {
	opacity: 1;
	top: 125%;
	right: calc(80% + 0.75em);
	left: auto;
}

.header .widget.social-media a {
	background-color: #fefefe;
	border-radius: 50%;
	color: #bdbdbd;
	display: flex;
	  align-items: center;
	  justify-content: center;
	height: 2.5em;
	margin-bottom: 0.75em;
	text-decoration: none;
	width: 2.5em;
}

.header .widget.social-media a:hover {
	color: #8d8d8d;
}

/** Menu **/

.header .nav-menu-toggle {
	cursor: pointer;
	display: flex;
	  align-items: center;
	  justify-content: center;
	float: right;
	height: 100%;
	margin-right: -1em;
	width: 2.75em;
}

.header .nav-menu-toggle i {
	color: #101010;
	font-size: 1.125em;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}

.header .nav-menu-wrap {
	background-color: #3f3f3f;
	height: 100%;
	max-width: 320px;
	position: fixed;
	  top: 3.75rem;
	  right: -100%;
	  z-index: 999;
	transition: all 0.3s ease, background-color 0s;
	width: 80%;
}

.header .nav-menu-wrap.open {
	right: 0;
}

.header .nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header .nav-menu ul li {
	position: relative;
}

.header .nav-menu ul li a {
	color: #fefefe;
	display: block;
	font-size: 0.9375em;
	font-weight: 600;
	padding: 0.75em 0.75em 0.625em;
	text-decoration: none;
	text-transform: uppercase;
}

.header .nav-menu > ul > li {
    border-top: 1px solid rgba(254,254,254,0.05);
    border-bottom: 1px solid rgba(254,254,254,0.05);
}

.header .nav-menu ul > li:hover > a {
    background-color: #5f5f5f;
}

.header .nav-menu .menu-item-has-children .submenu-toggle {
    color: #fefefe;
    position: absolute;
      top: 0.75em;
      right: 0;
    width: 1.75em;
}

.header .nav-menu .sub-menu {
    display: none;
    padding-left: 1em;
}

.header .nav-menu-overlay {
	background-color: rgba(0,0,0,0.9375);
	opacity: 0;
	position: static;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: -1;
	transition: all 0.3s ease;
}

.header .nav-menu-overlay.open {
	opacity: 1;
	position: fixed;
	  z-index: 998;
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/* Conent pages */

.featured-image {
	max-width: 100%;
}

/* Log In and Forgot/Reset Password forms */

.login {
	background-color: #2f2f2f;
	min-height: 100%;
}

.login .wrapper {
	margin: 5em auto;
	max-width: 400px;
}

.login a {
	color: #b6e0fa;
	text-decoration: none;
}

.login a:hover {
	text-decoration: underline;
}

.login h1 {
	text-align: center;
}

.login h1 a {
	color: #fefefe;
	text-decoration: none;
}

.login h1 a img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.login .status-message {
	background-color: #0f0f0f;
	font-weight: 600;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
}

.login .status-message.success {
	color: #2bda06;
}

.login .status-message.failure {
	color: #fe3022;
}

/** Data form **/

.login .data-form * {
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

.login .data-form {
	background-color: #ededed;
	border-radius: 5px;
	box-shadow: 0 2px 4px #000;
	color: #101010;
	margin-bottom: 0.75em;
	padding: 1.25em;
}

.login .data-form p {
	margin-top: 0;
}

.login .data-form a {
	color: #46708a;
}

.login .data-form label {
	font-size: 0.9em;
}

.login .data-form input:not([type=checkbox]):not([type=submit]) {
	font-size: 1.2rem;
	margin-top: 4px;
	padding: 4px;
	width: 100%;
}

.login .data-form #captcha {
	margin-top: 10px;
}

.login .data-form .checkbox-label {
	cursor: pointer;
	font-size: 0.875em;
	-webkit-user-select: none;
	user-select: none;
}

.login .data-form .checkbox-label input {
	cursor: pointer;
}

.login .data-form .checkbox-label span {
	vertical-align: top;
}

/* 404 (Not Found) page */

.not-found {
	background-color: #2f2f2f;
}

.not-found a {
	color: #b6e0fa;
}

.not-found .wrapper {
	border: 3px dashed #f00;
	color: #fefefe;
	margin: 5em auto;
	max-width: 550px;
	padding: 1em;
	text-align: center;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1050px) {
	.header .top-bar {
		height: 7em;
		padding: 1em;
	}
	
	.header .site-logo a {
		height: 85%;
	}
	
	.header .social-menu-wrap {
		display: flex;
          align-items: flex-end;
		  flex-direction: column;
		  justify-content: center;
    	float: right;
        height: 100%;
	}
	
	.header .widget.social-media {
        opacity: 1;
        position: static;
    }

    .header .widget.social-media a {
		background-color: #f6f6f6;
		color: #adadad;
    	display: inline-flex;
		height: 2.25em;
        margin-bottom: 0;
		width: 2.25em;
    }
	
	.header .widget.social-media a:hover {
		color: #7d7d7d;
	}
	
	.header .nav-menu-toggle {
        display: none;
    }
	
    .header .nav-menu-wrap {
        background-color: transparent;
		height: auto;
        max-width: none;
        position: static;
        width: 100%;
    }
	
    .header .nav-menu ul li {
        line-height: 1;
    }
	
    .header .nav-menu ul li a {
        color: #101010;
        display: inline-block;
        font-size: 1em;
        letter-spacing: 1px;
        margin: 1.375em 1em 0;
		padding: 0;
    }
	
    .header .nav-menu > ul li:hover .sub-menu {
        display: block;
    }
	
    .header .nav-menu > ul > li {
        border-top: none;
        border-bottom: none;
        display: inline-block;
    }
	
    .header .nav-menu > ul > li:not(:last-child)::after {
    	color: #cdcdcd;
    	content: ' |';
    	font-weight: 400;
    	vertical-align: text-top;
    }
	
	.header .nav-menu ul > li > a::after {
		border-bottom: 2px solid #101010;
		content: '';
		display: block;
		padding-top: 0.25em;
		transition: width 0.3s;
		width: 0;
	}
	
	.header .nav-menu ul > li > a:hover::after {
		width: 100%;
	}
	
	.header .nav-menu ul > li:last-child > a {
		margin-right: 0;
	}
	
	.header .nav-menu ul > li:hover > a {
    	background-color: transparent;
    }
	
    .header .nav-menu .sub-menu {
        background-color: #f4f5f7;
        box-shadow: 0 5px 3px -3px rgba(0,0,0,0.5);
        display: none;
        min-width: 100%;
        padding-left: 0;
        position: absolute;
          z-index: 9999;
        text-align: left;
        white-space: nowrap;
    }
	
    .header .nav-menu .sub-menu li a {
        width: 100%;
    }
}